In [28]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [30]:
df = pd.read_csv('House Price Prediction Dataset (1).csv')
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [32]:
df.drop("Id", axis=1, inplace=True)
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,4272,5,4,3,1958,Downtown,Excellent,No,424998
2,3592,2,2,3,1938,Downtown,Good,No,266746
3,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,4926,1,4,2,1975,Downtown,Fair,Yes,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1062,5,1,2,1903,Rural,Poor,No,476925
1998,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2989,5,1,3,1903,Suburban,Fair,No,482525

In [140]:
Le = LabelEncoder()

df['Location'] = Le.fit_transform(df['Location'])
df['Condition'] = Le.fit_transform(df['Condition'])
df['Garage'] = Le.fit_transform(df['Garage'])

In [36]:
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,1970,0,0,0,149919
1,4272,5,4,3,1958,0,0,0,424998
2,3592,2,2,3,1938,0,2,0,266746
3,966,4,2,2,1902,2,1,1,244020
4,4926,1,4,2,1975,0,1,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,1923,2,3,0,295620
1996,3046,5,2,1,2019,2,3,1,580929
1997,1062,5,1,2,1903,1,3,0,476925
1998,4062,3,1,2,1936,3,0,1,161119
1999,2989,5,1,3,1903,2,1,0,482525

In [54]:
for column in ['YearBuilt']:
    df[column] = 2024 - df[column];
    
df['YearBuilt']

0        54
1        66
2        86
3       122
4        49
       ...
1995    101
1996      5
1997    121
1998     88
1999    121
Name: YearBuilt, Length: 2000, dtype: int64

In [56]:
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1360,5,4,3,54,0,0,0,149919
1,4272,5,4,3,66,0,0,0,424998
2,3592,2,2,3,86,0,2,0,266746
3,966,4,2,2,122,2,1,1,244020
4,4926,1,4,2,49,0,1,1,636056
...,...,...,...,...,...,...,...,...,...
1995,4994,5,4,3,101,2,3,0,295620
1996,3046,5,2,1,5,2,3,1,580929
1997,1062,5,1,2,121,1,3,0,476925
1998,4062,3,1,2,88,3,0,1,161119
1999,2989,5,1,3,121,2,1,0,482525

In [164]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
# Apply scaler to multiple columns at once
columns_to_scale = ['Area', 'YearBuilt', 'Price']
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])

In [166]:
df

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,0.183220,5,4,3,0.430894,0,0,0,0.097598
1,0.837138,5,4,3,0.528455,0,0,0,0.376376
2,0.677360,2,2,3,0.691057,0,2,0,0.216717
3,0.096854,4,2,2,0.983740,2,1,1,0.197698
4,0.977791,1,4,2,0.390244,0,1,1,0.590591
...,...,...,...,...,...,...,...,...,...
1995,0.997532,5,4,3,0.813008,2,3,0,0.243744
1996,0.552128,5,2,1,0.032520,2,3,1,0.539540
1997,0.117212,5,1,2,0.975610,1,3,0,0.422923
1998,0.785935,3,1,2,0.707317,3,0,1,0.109109
1999,0.537940,5,1,3,0.975610,2,1,0,0.429930

In [168]:
x = df.iloc[ : , :-1]
y = df.iloc[ : ,-1]

In [170]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1)

In [172]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [174]:
x_test

,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage
1793,0.613819,4,1,3,0.910569,2,0,1
64,0.842073,5,3,2,0.170732,0,1,1
1981,0.790253,5,4,2,0.308943,1,0,0
852,0.071561,4,1,3,0.772358,2,0,0
803,0.481801,3,1,1,0.569106,0,0,0
...,...,...,...,...,...,...,...,...
1798,0.320790,2,1,1,0.918699,3,1,0
902,0.088834,3,2,2,0.837398,2,0,1
1819,0.048118,2,3,2,0.658537,1,2,1
1857,0.709439,4,2,2,0.032520,0,3,0
1661,0.734115,4,4,1,0.796748,1,2,1

In [176]:
[500, 2, 2, 1, 16, 3, 2, 0]

[500, 2, 2, 1, 16, 3, 2, 0]

In [178]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(np.float64(0.08240517311031546), -0.0403745529671804)